@media (max-width: 1270px) {
    #hero {
        .images {
            bottom: -10%;
        }
    }
}
 
 @media (max-width: 900px) {

    #hero {
        .container {
            max-width: 540px;
            height: auto;
            display: flex;
            flex-direction: column;
        }

        .content {
            width: 100%;            
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .images {
            display: none;
        }

        .content h1 {
            text-align: center;
        }

        p {
            padding: 0 3rem;
            text-align: center;
        }

        .buttons {
            flex-direction: column;
        }

        .discover-more {
            padding: 1rem 0;
            margin-top: 0;
        }
    }
    
    header {
    
        #auth-signin {
            display: none;
        }

        .nav-link {
            display: none;
        }

        .hamburger {
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 0 0 0 1rem;
        }
    }

    #brand-5 {
        display: none;
    }
    #brand-6 {
        display: none;
    }

    .leftphone {
        display: none;
    }

    #pagetwo .container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .features-text {
        text-align: center;
    }

    #pagethree .container {
        max-width: 720px;
    }

    .carousel {
        height: 50%;
        width: 90%;
        gap: 1;
    }

    #phone-1 {
        object-fit: contain;
    }

    #phone-2 {
        object-fit: contain;
    }

    #phone-3 {
        display: none;
    }

    #phone-4 {
        display: block;
        object-fit: contain;
        height: 100%;
        width: 30%;
    }

    #pagefour {
        display: none; 
    }
    #pagefive {
        .headtext {
            display: none;
        }

        .container {
            display: flex;
        }
    }

    #FAQ {
        .FAQleft {
            display: none;
        }
    }

    #subscribe {
        .notifbell {
            display: none;
        }

        .subscribeText {
            display: none;
        }
    }

    .contactpage .contactusleft {
        display: none;
    }

    .consult-card {
        margin: auto;
    }

    .map {
        display: none;
    }
}


@media (max-width: 576px) {
   
    .label {
        display: none;
    }

    #brands {
        display: none;
    }



    #pagetwo .container {
        max-width: 540px;
        padding: 2rem 4rem;
    }

    .featuresection {
        display: flex;
        flex-direction: column;
    }

    #phone-1 {
        display: none;
    }
    #phone-4 {
        display: none;
    }
    #phone-2 {
        padding-top: 2rem;
        width: 40%;
    }
    .undercarousel {
        padding: 2rem;
    }
    #pagethree h1 {
        padding: 2rem 0;
    }
}

